/* body {
    background: rgb(235,255,253);
    background: radial-gradient(circle, rgba(235,255,253,1) 40%, rgba(197,250,255,1) 62%);
} */

body {
    background-color: linear-gradient(lightblue, lightgreen);
}

p, ul, li { text-align: justify;  }

.legenda {
    text-align: center;
    margin-bottom: 1px;
}

pre {
    background-color: #CCC;
}

a {text-decoration: none;}

@media (max-width: 360px) {
    .container { width: 100%; }
}

@media(max-width: 768px) {
    .container { width: 100%;}
}

@media (min-width: 769px) {
    .container { width: 100%;}
}